/* Style */
.underline {text-decoration:underline !important;}
.bold {font-weight:bold !important;}
.italic {font-style:italic !important;}
.justify {text-align:justify !important;}
.normal {text-decoration:none !important;}
.uppercase {text-transform:uppercase !important;}
.lowercase {text-transform:lowercase !important;}
.capitalize {text-transform:capitalize !important;}
.center {text-align:center !important}
.right {text-align:right !important}
.left {text-align:left !important}
.clear {clear:both !important;}
.white {color:white !important;}
.black {color:black !important;}
.red {color:darkred !important;}
.blue {color:blue !important;}
.green {color:green !important;}
.yellow {color:yellow !important;}
.orange {color:orange !important;}
.purple {color:purple !important;}
.width-full {width:100% !important;}
.border {border:2px solid black !important;}
.border-2 {border:2px solid blue !important;}
.no-margin {margin:0px !important;}
.no-margin-top {margin-top:0px !important;}
.no-padding {padding:0px !important;}
.padding-10 {padding:10px !important;}
.padding-7 {padding:7px !important;}
.padding-5 {padding:5px !important;}
.padding-3 {padding:3px !important;}
.tombol-wa {padding:10px 15px !important;}
.float-left {float:left !important;}
.float-right {float:right !important;}
.pointer {cursor:pointer !important;}
.default {cursor:default !important;}
.margin-3 {margin:3px !important;}
.margin-10 {margin:10px !important;}
.margin-20 {margin:20 !important;}
.margin-right-20 {margin-right:20 !important;}
.margin-top-3 {margin-top: 3px !important;}
.margin-top-10 {margin-top: 10px !important;}
.margin-bottom-3 {margin-bottom: 3px !important;}
.margin-bottom-10 {margin-bottom: 10px !important;}
.no-padding-top {padding-top:0px !important;}
.padding-left-30 {padding-left:30px !important;}

/*For Circle UNJA*/
.border-bottom-unja  {border-bottom:4px solid orange;}

/*For Halo Paten*/
.bg-black {
	background: black !important;
}
.fix-padding-top {
	padding-top:30px;
}
.no-padding-bottom {
	padding-bottom:0px
}
.no-padding-top {
	padding-top:0px;
}
.footer-table {
	width:100%;
}
.footer-table tr, .footer-table td {
	text-align:center !important;
	font-size:10pt;
}
.bank-image img {
	margin-left:3px;
	margin-right:3px;
	width:11%;
}

.bank_icon div {
	padding:0px !important;
}

.footer-padding {
	padding-left:25px;
	padding-right:25px;
}

html {
	position:static;
	max-width:1000px;
	padding:0px 15px;
	margin:0 auto;
	background:grey;
}


.main-menu{
	/*padding-left:15em*/
	padding-left:50pt
}

.main-menu .navigation > li{
	margin-right: 50px !important;
}

.logo-padding {
	padding-left:50px;
}

.upper-right {
	padding-top: 20px;
	padding-right:50px
}

.sidebar-page-container {
	padding:20px;
}

.btn-reg-now {
	background: #0d8dce;
	color:white;
	font-size:15pt;
	padding:10px;
	border-radius:5px;
	width: 220px
}

.price-table td {
	padding: 0px 10px;
	font-size:15px;
}

.blue-style {
	color: #19a3ec;
}

.shadow-box {
	box-shadow:2px 2px 2px 2px grey;
}

.img-box-shadow {
	padding-bottom: 10px;
}

.block-content {
	padding-left:40px !important;
	padding-right:40px !important;
	padding-top:20px !important;
	padding-bottom:20px !important;
}

ul.user_navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.user_navigation li {
 	float: left;
 	margin-right: 15px;
}

.btn-profil {
	background: none;
	border: none;
}

.dropdown-profile-content {
  display: none;
  font-size: 15px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999999 !important;
}

.dropdown-profile-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-profile-content a:hover {
  background-color: #ddd;
}

.dropdown-profile:hover .dropdown-profile-content {
  display: block;
}

table.datatables {
	border:1px solid grey;
	border-collapse: collapse;
}

.dataTables_filter input {
	border:1px solid grey;
}

.number-step {
	font-size: 20px;
}

.step-row {
	margin-left:-70px;
	margin-right:-70px;
	padding-top:30px;
	padding-bottom:20px;
	border:1px solid #b3b3b3;
	background: #f5f5f5;
	text-align: center;
}

.select2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.select2-container--default .select2-selection--single {
	border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 7px !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single, .select2-container--disabled {
    background-color: #e9ecef !important;
    opacity: 1
}

.table-syarat tr td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding:10px;
}

.text-in-table {
	font-size: 13px !important;
}

div.bulp-notif {
	position: absolute;
	bottom: 17px;
	background: orange;
	border-radius: 100%;
	font-size: 10px;
	width: 20px;
	height: 20px;
	color: white;
	margin-left: 10px;
	text-align: left;
	padding-left:5px
}

div.bulp-notif-bottom {
	bottom: 30px !important;
}

div.bulp-notif span {
	position: absolute;
	bottom: -3px;
}

span.spasi-link-footer {
	margin-left:20px;
	margin-right:20px;
}

body.modal-open {
	padding-right: 0px !important;
}

.icon_right_chat {
	position:fixed;
	bottom:10px;
	right:100px;
	z-index:999;
}

.pagination {
	justify-content: center !important;
}

.pagination li {
	margin-left: 5px;
	margin-right: 5px;
}

.classForDesktop {
	padding-top:35px;
	margin-left:230px
}

.hideOnDesktop {
	display: none;
}

/*Mobile View Patch*/
@media screen and (max-width: 767.98px){
	div.logo img {
		height:60px !important;
		float: left !important;
	}
	.hideOnDesktop {
		display: block !important;
	}
	.hideOnMobile, .hideOnMobileSensitive {
		display: none;
	}
	.classForDesktop {
		display: none !important;
		padding-top:0px !important;
	}
	.header-upper {

	}
	.icon_right_chat {
		right: 0px !important;
		width: 60px !important;
		height: 60px !important;
	}
	.sidebar-page-container p {}
	.main-menu {
		padding-left: 0px !important;
	}
	.logo-outer h4 {
		text-align: left !important;
		padding-left: 100px;
		margin-left: 30px;
	}
	.sidebar-page-container .auto-container {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.image-ads-at-home {
		width: 120px;
		height: 120px;
	}
	.moreMarginAtMobile {
		margin-bottom: 14px !important
	}
	.tentang_kami_txt {
		font-size: 15px !important;
	}
	.block_tentang_kami {
		padding:0px !important;
		height:215px !important;
	}
}

@media screen and (max-width: 1024px) {
    /*.classForDesktop {
        display: none !important;
    }*/
}