@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: local('Signika Light'), local('Signika-Light'), url(vEFU2_JTCgwQ5ejvE_oEE3dJbGIe2tI.woff) format('woff');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url(vEFR2_JTCgwQ5ejvG1EmAFprZ0g.woff) format('woff');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  src: local('Signika SemiBold'), local('Signika-SemiBold'), url(vEFU2_JTCgwQ5ejvE44CE3dJbGIe2tI.woff) format('woff');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local('Signika Bold'), local('Signika-Bold'), url(vEFU2_JTCgwQ5ejvE-oDE3dJbGIe2tI.woff) format('woff');
}
